package Nabovarme::Db;

use strict;
use warnings;
use DBI;
use Sys::Syslog;

use constant MY_DBI => 'DBI:mysql:database=nabovarme;host=127.0.0.1;port=3306', 'nabovarme', 'password';

sub my_connect {
  return DBI->connect(MY_DBI, { mysql_auto_reconnect => 1 }) or warn $!;
}
        
1;
