# System & Editor Files
._*
.DS_Store
xcshareddata

# Compiler Output Directories
build/
build_ota/
firmware/
firmware_ota/
release/

# Intermediate & Binary Build Artifacts
*.o
*.a
*.out
*.map
*.S
*.size
webpages.espfs
app.map

# Executables & Tools
tools/*
mkespfsimage/mkespfsimage

# Debug & Flash Dumps
firmware/stack_trace.dump
