[submodule "MeterLoggerDoxygen"]
	path = meterlogger_doxygen
	url = https://github.com/nabovarme/MeterLoggerDoxygen.git
	branch = mesh
[submodule "MeterLoggerPCB"]
	path = pcb+power
	url = https://github.com/nabovarme/MeterLoggerPCB.git
	branch = mesh
[submodule "MeterLoggerImpulsePCB"]
	path = impulse-meter-pcb
	url = https://github.com/nabovarme/MeterLoggerImpulsePCB.git
	branch = mesh
